.zk_calendar_tb_top {
	width: 100%;
}

.zk_calendar_tb_date {
	width: 100%;
	border: none
}

.zk_calendar_tb_out {
	border: 1px solid black;
	width: 200 px;
	table-layout: fixed;
}

.zk_calendar_td_input {
	border: 1px solid black;
}

.zk_calendar_btn {
	cursor: pointer;
	width: 100%;
	height: 20px;
	font-size: 9pt;
	border: 1px solid;
}

.zk_calendar_hm {
	border: none;
	width: 40px;
}

.zk_calendar_hm_a {
	border: none;
	width: 56px;
}

.zk_calendar_pnl {
	position: absolute;
	display: none;
	z-index: 98;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	width: 200 px;
	font-size: 9pt;
}

.zk_calendar_td_sun {
	text-align: center;
	font-size: 9pt;
	cursor: default;
}

.zk_calendar_td_sat {
	text-align: center;
	font-size: 9pt;
	cursor: default;
}

.zk_calendar_td_head {
	text-align: center;
	font-size: 9pt;
	font-weight: normal;
}

.zk_calendar_td_date {
	text-align: center;
	font-size: 9pt;
	cursor: default;
}

.zk_calendar_btn_pre {
	cursor: pointer;
	border: 1px solid;
	width: 16px;
	height: 20px;
}

.zk_calendar_btn_next {
	cursor: pointer;
	border: 1px solid;
	width: 16px;
	height: 20px;
}