.zk_combobox_btn {
	width: 20;
	background-color: #EFEFEF;
	cursor: pointer;
	border-style: solid;
	border-width: 1;
	border-color: #CCCCCC;
}

.zk_combobox_text_search {
	border-bottom-width: 1;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-style: none;
	border-right-style: none;
	width: 0;
}

.zk_combobox_drop_div {
	background-color: white;
	position: absolute;
	display: none;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	cursor: pointer;
	z-index: 100;
}

.zk_combobox_table_top {
	font-size: 9pt;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	table-layout: fixed;
}

.zk_combobox_table_drop {
	background-color: white;
	font-size: 9pt;
	border-collapse: collapse;
	border-style: none;
	table-layout: auto;
}

.zk_combobox_input_text {
	border: none;
}

.zk_combobox_cell_img {
	text-align: center;
}

.zk_combobox_cell_btn {
	width: 40;
}

.zk_combobox_cell_edt {
	width: 100%;
}

.zk_combobox_cell_drop_img {
	width: 17;
}